<!-- <mat-toolbar color="primary">
  <span>My Project</span>
  <span class="example-spacer"></span>
  <button mat-raised-button (click)="openCHS()" type="button" mat-stroked-button class="px-3">
    CHS
  </button>
  <button mat-raised-button (click)="openItemForm()" type="button">
    Item Master
  </button>
  <button mat-raised-button (click)="openEmployeeForm()" type="button" mat-stroked-button class="px-3">
    Employee Master
  </button>
</mat-toolbar> -->


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<!-- <link rel="stylesheet" [href]='fontawesomecssUrl'>
<link rel="stylesheet" [href]='brandscssUrl'>
<link rel="stylesheet" [href]='solidcssUrl'> -->

<router-outlet></router-outlet>