
fieldset {
    legend {
      color: rgb(211, 140, 59)
    }
    padding: 20px;
    border: solid 1px  rgb(216, 134, 41);
  
  }
  
h1{
    text-align: left;
    color: orange;
}
.action{
    padding: 6px 0%;
}

.checklist-height {
    max-height: 250px;
    overflow: auto;
  }
  