
<section>
    <app-nav-bar></app-nav-bar>
</section>
<div class="container-fluid main-content ">
    <div class="row">
        <div class="col-md-10 p-5">
             <h2>Management</h2>
             <p class="text-muted ">Clubman & Hospitality Software Solutions had acquired Database Software in the year 2011. Database Software was started in June 1997 as a Data Management and Support unit through Software Solutions. From then on Clubman & Hospitality Software Solutions Pvt. Ltd. has moved into becoming one of the leading software- solutions product houses based in Chennai. The company’s main focus is to develop products for Hospitality Industry particularly for Clubs, Hotels and Restaurants. Clubman presently serves around 80 clubs across the country, a testimony that Clubman is a preferred choice for Indian Clubs.</p>
             <h2 class="mt-5">Board of Directors</h2>
        </div>
        <div class="col-md-10 px-5">
          <div class="row">
            <div class="col-md-8">
                <h2>Sandeep Mohanty</h2>
                <p>
                    Dr. Sandeep Mohanty, a seasoned Software Professional-cum-Entrepreneur with rich experience in the industry since its inception. He is presently Chief Executive Officer and Director of Clubman & Hospitality Software Solutions Pvt Ltd. He has 30+ years of rich experience in business process analysis, re-engineering, process mapping, design, development, implementation and support functions of small and medium sized software projects. Sandeep has proven expertise in translating his vast experience into developing and providing specialized software products for large and medium sized clubs and hotels. <br>
    Sandeep holds a Master’s Degree in Business Administration (System), he is a continuous and passionate learner of new technologies. Sandeep did his Ph.D. on “A study on training interventions in the software product services industry”. In addition, he is a certified Project Management Professional (PMP) and certified in Information Technology Infrastructure Library (ITIL). Sandeep always strives to add value to the clients’ business with his innovative thinking and cost-effective solutions with his hard-and-fast project delivery model.
                </p>
            </div>
            <div class="col-md-4">
                <img src="/assets/img/ceo.jpg" alt="">
            </div>
          </div>
        </div>
    </div>
</div>
<section class="mt-5">
    <app-footer></app-footer>
</section>
